################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Voxels/obj
/Voxels.CommandLine/obj
*.cache
*.csproj.user
/packages
/packages
/Voxels/bin/Debug
/Voxels.CommandLine/bin/Debug
/Voxels.Installer/bin/Debug
/Voxels.Installer/obj/Debug
/Voxels.ShellExtensions/bin/Debug
/Voxels.ShellExtensions/obj/Debug
/Voxels.SkiaSharp/bin/Debug
/Voxels.Test/bin/Debug
/Voxels.Test/obj/Debug
/Voxels/bin/Release
/Voxels.CommandLine/bin/Release
/Voxels.CommandLine/bin/Release/x64
/Voxels.CommandLine/bin/Release/x86
/Voxels.Installer/bin/Release
/Voxels.Installer/obj/Release
/Voxels.ShellExtensions/bin/Release
/Voxels.ShellExtensions/obj/Release
/Voxels.SkiaSharp/bin/Release
/Voxels.SkiaSharp/obj
/Voxels.Test/bin/Release
/Voxels.Test/obj/Release
/Voxels.CommandLine/bin.old
/Voxels.Setup/bin/Release
/Voxels.Setup/obj/Release
*.user
/Voxels.Setup/Voxels.Setup.wixproj.user
