################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Voxels/obj
/Voxels.CommandLine/obj
*.cache
